mixed-port: 7890
allow-lan: false
bind-address: '*'
mode: Rule
log-level: info
ipv6: true

hosts:
  services.googleapis.cn: 216.58.200.67
  www.google.cn: 216.58.200.67

external-controller: '0.0.0.0:9090'

clash-for-android:
  append-system-dns: false

profile:
  tracing: true

dns:
  enable: true
  listen: '127.0.0.1:8853'
  default-nameserver:
    - 221.4.66.66         # 广州联通
    - 211.136.192.6       # 广州移动
    - 119.29.29.29        # 腾讯
    - 208.67.220.220      # OpenDNS
    - 1.2.4.8             # CNNIC 反污染
  nameserver:
    - https://8.8.8.8/dns-query
    - https://1.1.1.1/dns-query
  fallback:
    - https://dns.rubyfish.cn/dns-query
    - https://doh.pub/dns-query
    - https://rubyfish.cn/dns-query
    - https://public.dns.iij.jp/dns-query
    - https://cloudflare-dns.com/dns-query
    - https://1.1.1.1/dns-query
    - tls://1.1.1.1:853
    - tls://8.8.8.8:853
    - tls://8.8.4.4
  ipv6: true
  enhanced-mode: fake-ip
  fallback-filter:
    geoip: true
    domain:
      - +.google.com
      - +.googleapis.com
      - +.gvt1.com
      - +.youtube.com
      - +.facebook.com
      - +.twitter.com
      - +.tiktok.com
      - +.tiktokv.com

nameserver-policy:
  www.baidu.com: 114.114.114.114
  www.taobao.com: 223.5.5.5
  +.internal.crop.com: 10.0.0.1

fake-ip-filter:
  - '*.lan'
  - 'stun.*.*.*'
  - 'stun.*.*'
  - time.windows.com
  - time.nist.gov
  - time.apple.com
  - '*.ntp.org.cn'
  - '*.openwrt.pool.ntp.org'
  - pool.ntp.org
  - ntp.aliyun.com
  - '*.msftconnecttest.com'
  - '*.msftncsi.com'
  - '*.*.*.srv.nintendo.net'
  - '*.*.stun.playstation.net'
  - 'xbox.*.*.microsoft.com'
  - '*.ipv6.microsoft.com'
  - '*.*.xboxlive.com'
  - speedtest.cros.wr.pvp.net
